.navbar {
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    font-size: 2rem;
    background: transparent;
    display: flex;
    color: #FFF;
}

.nav-menu {
    background-color: black;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: -100%;
    z-index: 999;
    transition: all .5s ease;
    padding: 0;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-menu a li:hover {
    transition: all .5s ease;
    border-radius: 4px;
    background-color: #0d6efd;
}

.nav-menu a:last-child li:hover {
    background-color: #dc3545;
}

.nav-text {
    font-size: 20px;
}

.nav-menu-items {
    width: 100%;
}